<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
</head>
<body>
  <h1>Página de Administração</h1>
  <p>Bem-vindo, <%= username %>!</p>
  <ul>
    <li><a href="/dashboard">DashBoard</a></li>
    <li><a href="/main">Main</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</body>
</html>
