<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Bem-vindo, <%= username %>!</p>
  <ul>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/dashboard">DashBoard</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</body>
</html>
