<%- include('partial/head.ejs') %>
<body class="bodylogin">
    <div class="login">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
</div>
</body>
</html>
