<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuário</title>
</head>
<body>
    <h1>Registro de Usuário</h1>
    <form action="/register" method="POST">
        <label for="text">Usuario:</label>
        <input type="text" id="email" name="email" required><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        <label for="tipo_acesso">Tipo de Acesso:</label>
        <select id="tipo_acesso" name="tipo_acesso" required>
            <option value="user">Normal</option>
            <option value="admin">Administrador</option>
        </select><br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
